extends layout

block content
  div.content
    if message
      pre.monospace.error= message

    if error.status
      pre.monospace.error= error.status

    if error.stack
      pre.monospace.subdued= error.stack
