extends layout

block content
  div.content
    table.list
      tr.header
        td <p>Title</p>

      each g in games
        tr
          td
            p
              | #{g.title}
              if g.title_romaji
                | &nbsp;<span class='subdued'>(#{g.title_romaji})</span>
