extends layout

block content
  div.content
    p Welcome to 野生GDB.
    p This is a site for congregating information on obscure (mostly Japanese) games.
    p It's also possible to rate games and more.
