doctype html

html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')

    script(type='text/javascript' src='/javascripts/jquery-3.3.1.min.js')
    script(type='text/javascript' src='/javascripts/moment.js')
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js" integrity="sha256-MZo5XY1Ah7Z2Aui4/alkfeiq3CopMdV/bbkc/Sh41+s=" crossorigin="anonymous"></script>

  body
    div.bg
    div.sprite

    h1 <a href='/'><span class='logo-effect'>野生</span>gdb</a>
    p.logo-sub yasei game database

    div.nav
      p
        | <a href='/'>Home</a> |
        | <a href='/games'>Games</a>
        if user
          | &nbsp;| <a class='special' href='/games/new'>Add new game</a>

    div.nav-right
      if user
        p
          | Logged in as <a href='/user/list/#{user.id}'><span class='highlight'>#{user.username}</span></a>
          | <a href='/logout'>(Logout)</a>
      else
        p
          | <a href='/login'>Login</a> |
          | <a href='/register'>Register</a>

    block content
