doctype html

html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    div.bg
    div.sprite

    h1 <a href='/'><span class='logo-effect'>野生</span>gdb</a>
    p.logo-sub yasei game database

    div.nav
      p
        | <a href='/'>Home</a> |
        | <a href='/games'>Games</a>
        if user
          | &nbsp;| <a class='special' href='/games/new'>Add new game</a>

    div.nav-right
      if user
        p
          | Logged in as <span class='highlight'>#{user.username}</span>
          | <a href='/logout'>(Logout)</a>
      else
        p
          | <a href='/login'>Login</a> |
          | <a href='/register'>Register</a>

    block content
