@import url("https://fonts.googleapis.com/css?family=Graduate");
body {
  background: #000;
}
div.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: url("/images/bg.png") repeat;
  filter: blur(3px);
  animation: 180s bg-scroll infinite linear;
}
div.nav {
  position: absolute;
  top: 126px;
  left: 400px;
}
div.nav-right {
  position: absolute;
  top: 126px;
  right: 50px;
}
div.nav p,
div.nav-right p {
  color: #808080;
}
div.nav p a,
div.nav-right p a {
  padding: 5px;
  color: #ffc864;
  border: 1px transparent solid;
}
div.nav p a {
  color: #64c8ff;
}
div.nav p a:hover,
div.nav-right p a:hover {
  text-decoration: none;
  background: rgba(255,200,100,0.1);
  border: 1px rgba(255,150,50,0.5) solid;
  border-bottom: none;
}
div.nav p a:hover {
  background: rgba(100,200,255,0.1);
  border: 1px rgba(50,150,255,0.5) solid;
  border-bottom: none;
}
div.content {
  box-sizing: border-box;
  padding: 5px;
  background: linear-gradient(90deg, rgba(16,32,64,0.8), rgba(16,32,64,0.2));
  border: 1px rgba(64,128,255,0.5) solid;
  box-shadow: 0 20px 25px 5px rgba(0,0,0,0.2);
  box-shadow: 0 10px 25px 5px rgba(0,0,0,0.4);
}
div.content-centered {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 15px;
  margin-bottom: 15px;
}
h1 {
  margin: 0;
  padding-left: 30px;
  font: 60pt Graduate;
  color: #fff;
}
span.logo-effect {
  transition: text-shadow 3s;
  text-shadow: -2px 2px 0px rgba(0,230,230,0.5), -4px 4px 0px rgba(1,204,204,0.5), -6px 6px 0px rgba(0,189,189,0.5);
}
span.logo-effect:hover {
  transition: text-shadow 0.5s;
  text-shadow: -4px 2px 0px rgba(0,230,230,0.5), -8px 4px 0px rgba(1,204,204,0.5), -12px 6px 0px rgba(0,189,189,0.5), -2px 2px 20px #00e6e6, -4px 4px 40px #01cccc, -6px 6px 60px #00bdbd;
}
h1 a {
  text-decoration: none;
  -webkit-text-fill-color: rgba(255,255,255,0.5);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}
p,
label {
  margin: 3px;
  font: 8pt Verdana;
  color: #fff;
}
p.logo-sub {
  position: relative;
  padding-left: 200px;
  bottom: 25px;
  font: 9pt Graduate;
}
p.error,
p.message {
  padding: 5px;
}
p.error {
  color: #ff6464;
  background: linear-gradient(90deg, rgba(255,100,100,0.1), transparent);
}
p.message {
  color: #64ff64;
  background: linear-gradient(90deg, rgba(100,255,100,0.1), transparent);
}
label {
  font-size: 7pt;
}
span.highlight {
  color: #fff;
}
a {
  text-decoration: none;
}
a.special {
  color: #64ffc8 !important;
}
a.special:hover {
  background: rgba(100,255,200,0.1) !important;
  border: 1px rgba(100,255,200,0.5) solid !important;
  border-bottom: none !important;
}
.subdued {
  color: rgba(255,255,255,0.5);
}
table {
  width: 100%;
}
input[type='text'],
input[type='password'],
input[type='submit'] {
  padding: 3px;
  width: 100%;
  background: rgba(0,0,0,0.2);
  border: 1px rgba(255,255,255,0.1) solid;
  font: 8pt Verdana;
  color: #fff;
}
input[type='text']:hover,
input[type='password']:hover,
input[type='submit']:hover {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(192,128,255,0.1));
  border-bottom: 1px rgba(192,128,255,0.8) solid;
}
input[type='submit'] {
  margin-top: 5px;
  width: 100px;
  padding: 5px;
}
input[type='submit']:hover {
  cursor: pointer;
  border: 1px rgba(192,128,255,0.8) solid;
}
@-moz-keyframes bg-scroll {
  100% {
    background-position: -3000px 0;
  }
}
@-webkit-keyframes bg-scroll {
  100% {
    background-position: -3000px 0;
  }
}
@-o-keyframes bg-scroll {
  100% {
    background-position: -3000px 0;
  }
}
@keyframes bg-scroll {
  100% {
    background-position: -3000px 0;
  }
}
